@import "../../assets/styles/defalutMixins.scss";

.signin {
    min-height: 500px;
    height: 50%;
    width: 70%;
    margin: 0 auto;
    margin-top: 5rem;
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    &__left {
        width: 50%;
        background-color: aliceblue;
        @include justifyCenter;

        .signin-container {
            padding-top: 5rem;
            width: 100%;

            .headings {
                font-size: 26px;
                font-weight: 700;
                text-align: center;
                padding: 0 0 1.5rem;
                color: rgb(0, 0, 0);
                letter-spacing: 1px;
            }
            .fields {
                @include displayflex;
                width: 100%;

                .input-field-wrapper {
                    position: relative;
                    width: max-content;
                    color: #75a4f6;

                    .login-text {
                        width: 268px;
                        height: 36px;
                        margin: 5px;
                        font-size: 16px;
                        padding: 3px 1rem 3px 2.3rem;
                        border: 1px solid #DBDBDB;
                        background-color: #FAFAFA;
                        // padding-left: 10px;
                        border-radius: 3px;
                    }

                    .eye-icon {
                        position: absolute;
                        right: 1rem;
                        top: 15px;
                    }

                    .icon {
                        position: absolute;
                        left: 1rem;
                        top: 0.9rem;
                    }
                }
            }

            .login-error {
                color: rgb(242, 60, 60);
                font-size: 12px;
                font-weight: 600;
                padding: 8px 0px;
                text-align: justify;
                @include displayflex;
                margin: 0 5rem;
                padding-left: 20px;
            }

            .login-button {
                @include displayflex;
                width: 100%;
                font-weight: bold;
                border: none;
                color: rgb(255, 255, 255);
                margin-top: 10px;
                cursor: pointer;
                margin-bottom: 25px;
                background: transparent;

                .btn {
                    @include displayflex;
                    background-color: #0180ff;
                    width: 160px;
                    border-radius: 8px;
                    height: 36px;
                }
            }

            .signin-btn {
                margin-top: 6rem;
                @include btnBasic;
                @include primaryBlueBgColor;
                color: white;
                @include alignCenter;
                gap: 1.25rem;
                padding: 0.5rem 3rem 0.5rem 0.5rem;
                border-radius: 5px;
            }

            .login-sign-option {
                height: 63px;
                width: 90%;
                margin-top: 10px;
                text-align: center;
                color: rgb(0, 0, 0);

                .login-sign {
                    font-size: 16px;

                    .sign-text {
                        font-weight: 800;
                        font-size: 20px;
                        color: #4681fe;
                        cursor: pointer;
                    }
                }

            }

        }
    }

    &__right {
        width: 50%;
        @include displayflex;

        img {
            object-fit: cover;
            @include max-ht-wt;
        }
    }
}

@media only screen and (max-width:1200px) {
    .signin {
        height: 100%;
        width: 70%;
        justify-content: center;
        margin-top: 3rem;

        &__left {
            height: 100%;
            width: 100%;
            min-height: 500px;
            margin: 5px;
        }

        &__right {
            display: none;
        }
    }
}