$border-color:1px solid #e5e5e5;
.all-product-container {
    display: flex;
    overflow: hidden;

    .sidefilter-wrapper {
        border-right: $border-color;

        @media only screen and (max-width:550px) {
            display: none;
        }
    }

    .products-wrapper {
        width: 85%;
        margin: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        height: fit-content;
        row-gap: 5rem;

        @media only screen and (max-width:1400px) {
            align-items: center;
            justify-content: center;
        }

        @media only screen and (max-width:550px) {
            width: 100%;
        }

        @media only screen and (max-width:430px) {
            margin: 10px;
        }
    }
}